In [1147]:
import warnings
warnings.filterwarnings('ignore')

In [1148]:
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import statistics as st
%matplotlib inline

In [1149]:
df1=pd.read_csv('titanic.csv')
df1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [1150]:
df1.shape

(891, 12)

In [1151]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [1152]:
df1.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [1153]:
df1.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [1154]:
df1.drop('Cabin',axis=1,inplace=True)

In [1155]:
df1.drop('Ticket',axis=1,inplace=True)

In [1156]:
df1.drop('Name',axis=1,inplace=True)

In [1157]:
df1.drop('PassengerId',axis=1,inplace=True)

In [1158]:
df1['Age'].fillna(method='bfill',inplace=True)

In [1159]:
df1['Embarked'].fillna(method='bfill',inplace=True)
df1.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [1160]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [1161]:
df1['Sex']=le.fit_transform(df1['Sex'])

In [1162]:
status=pd.get_dummies(df1['Embarked'],drop_first=True)
status.head()

   Q  S
0  0  1
1  0  0
2  0  1
3  0  1
4  0  1

In [1163]:
df1=pd.concat([df1,status],axis=1)
df1.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare Embarked  Q  S
0         0       3    1  22.0      1      0   7.2500        S  0  1
1         1       1    0  38.0      1      0  71.2833        C  0  0
2         1       3    0  26.0      0      0   7.9250        S  0  1
3         1       1    0  35.0      1      0  53.1000        S  0  1
4         0       3    1  35.0      0      0   8.0500        S  0  1

In [1164]:
df1.drop('Embarked',axis=1,inplace=True)

In [1165]:
df1.skew()

Survived    0.478523
Pclass     -0.630548
Sex        -0.618921
Age         0.342346
SibSp       3.695352
Parch       2.749117
Fare        4.787317
Q           2.948778
S          -1.003362
dtype: float64

In [1166]:
# dff1=df1[(df1['Fare']>(np.mean(df1['Fare'])-(3*np.std(df1['Fare'])))) & (df1['Fare']<(np.mean(df1['Fare'])+2*np.std(df1['Fare'])))]
# dff1.shape

In [1167]:
# dff1.skew()

In [1168]:
df1_cont=df1[['Age','Fare']]

In [1169]:
df1_cont.describe(percentiles=[0.015,0.25,0.5,0.75,0.997])###according to 99.7 % and above r all outlaiers so we rempved it

              Age        Fare
count  891.000000  891.000000
mean    29.870561   32.204208
std     14.597668   49.693429
min      0.420000    0.000000
1.5%     1.000000    0.000000
25%     21.000000    7.910400
50%     29.000000   14.454200
75%     39.000000   31.000000
99.7%   71.990000  345.278636
max     80.000000  512.329200

In [1170]:
df1[df1['Age']>=72]

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Q  S
629         0       3    1  80.0      0      0   7.7333  1  0
630         1       1    1  80.0      0      0  30.0000  0  1
851         0       3    1  74.0      0      0   7.7750  0  1

In [1171]:
df1=df1[df1['Age']<71]

In [1172]:
df1[df1['Fare']>=346]

     Survived  Pclass  Sex   Age  SibSp  Parch      Fare  Q  S
258         1       1    0  35.0      0      0  512.3292  0  0
679         1       1    1  36.0      0      1  512.3292  0  0
737         1       1    1  35.0      0      0  512.3292  0  0

In [1173]:
df1=df1[df1['Fare']<=346]

In [1174]:
df1.skew()

Survived    0.481226
Pclass     -0.644657
Sex        -0.607647
Age         0.226922
SibSp       3.675999
Parch       2.736498
Fare        3.179922
Q           2.954528
S          -1.025870
dtype: float64

In [1175]:
X=df1.drop(['Survived'],axis=1)
y=df1['Survived']

In [1176]:
from sklearn.model_selection import train_test_split

In [1177]:
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.7,test_size=0.3,random_state=101)

In [1178]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [1179]:
X_train[['Age','Fare']]=sc.fit_transform(X_train[['Age','Fare']])
X_test[['Age','Fare']]=sc.transform(X_test[['Age','Fare']])
X_train_scaled=X_train
X_test_scaled=X_test
X_train_scaled.head()

     Pclass  Sex       Age  SibSp  Parch      Fare  Q  S
329       1    0 -0.979840      0      1  0.625420  0  0
859       3    1  0.839063      0      0 -0.582126  0  0
823       3    0 -0.179522      0      1 -0.457307  0  1
804       3    1 -0.179522      0      0 -0.588175  0  1
269       1    0  0.402526      0      0  2.473122  0  1

In [1180]:
from sklearn.linear_model import LogisticRegression 
lgr=LogisticRegression()

In [1181]:
from sklearn.feature_selection import RFE
rfe=RFE(lgr,6)
rfe=rfe.fit(X_train_scaled,y_train)

In [1182]:
list(zip(X_train.columns,rfe.support_,rfe.ranking_))

[('Pclass', True, 1),
 ('Sex', True, 1),
 ('Age', True, 1),
 ('SibSp', True, 1),
 ('Parch', False, 3),
 ('Fare', True, 1),
 ('Q', True, 1),
 ('S', False, 2)]

In [1183]:
selected_col=X_train_scaled.columns[rfe.support_]

In [1184]:
X_train_scaled_rfe=X_train_scaled[selected_col]

In [1185]:
X_train_scaled_rfe.head()

     Pclass  Sex       Age  SibSp      Fare  Q
329       1    0 -0.979840      0  0.625420  0
859       3    1  0.839063      0 -0.582126  0
823       3    0 -0.179522      0 -0.457307  0
804       3    1 -0.179522      0 -0.588175  0
269       1    0  0.402526      0  2.473122  0

In [1186]:
lgr.fit(X_train_scaled_rfe,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [1187]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [1188]:
y_pred_lgr_train=lgr.predict(X_train_scaled_rfe)

In [1189]:
print('accurarcy',accuracy_score(y_train,y_pred_lgr_train))

accurarcy 0.8087520259319287

In [1190]:
print('confusion matrix\n\n',confusion_matrix(y_train,y_pred_lgr_train))

confusion matrix

 [[332  47]
 [ 71 167]]

In [1191]:
X_test_rfe=X_test[X_train_scaled_rfe.columns]

In [1192]:
y_pred_lgr_test=lgr.predict(X_test_rfe)

In [1193]:
print('accurarcy',accuracy_score(y_test,y_pred_lgr_test))
print('confusion matrix\n\n',confusion_matrix(y_test,y_pred_lgr_test))
print('\n\nclassification report: \n\n',classification_report(y_test,y_pred_lgr_test))

accurarcy 0.7660377358490567
confusion matrix

 [[147  18]
 [ 44  56]]


classification report:

               precision    recall  f1-score   support

           0       0.77      0.89      0.83       165
           1       0.76      0.56      0.64       100

    accuracy                           0.77       265
   macro avg       0.76      0.73      0.73       265
weighted avg       0.76      0.77      0.76       265

In [1194]:
import statsmodels.api as sm

In [1195]:
X_train_scaled_rfe_sm=sm.add_constant(X_train_scaled_rfe)

In [1196]:
X_train_scaled_rfe_sm.head()

     const  Pclass  Sex       Age  SibSp      Fare  Q
329    1.0       1    0 -0.979840      0  0.625420  0
859    1.0       3    1  0.839063      0 -0.582126  0
823    1.0       3    0 -0.179522      0 -0.457307  0
804    1.0       3    1 -0.179522      0 -0.588175  0
269    1.0       1    0  0.402526      0  2.473122  0

In [1197]:
# y_train=sc.fit_transform(y_train) ## donot scale the output since it is catagorical

In [1198]:
lgmod=sm.GLM(y_train,X_train_scaled_rfe_sm,family=sm.families.Binomial()).fit()
print(lgmod.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  617
Model:                            GLM   Df Residuals:                      610
Model Family:                Binomial   Df Model:                            6
Link Function:                  logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -264.35
Date:                Thu, 12 Sep 2019   Deviance:                       528.69
Time:                        14:03:13   Pearson chi2:                     646.
No. Iterations:                     5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          3.9849      0.472      8.445      0.000       3.060       4.910
Pclass        -1.1836      0.186     -6.367      0.000      -1.548      -0.819
Sex           -2.8025      0.241    -11.626      0.000      -3.275      -2.330
Age           -0.4003      0.117     -3.409      0.001      -0.630      -0.170
SibSp         -0.3879      0.144     -2.692      0.007      -0.670      -0.106
Fare           0.1117      0.166      0.673      0.501      -0.214       0.437
Q              0.2958      0.396      0.747      0.455      -0.480       1.072
==============================================================================

In [1199]:
#check for the VIF value of feature variables
from statsmodels.stats.outliers_influence import variance_inflation_factor
# create DF that vll contain all features variables and thier respective VIF
vif=pd.DataFrame()
vif['Features']=X_train_scaled_rfe_sm.columns
vif['VIF']=[variance_inflation_factor(X_train_scaled_rfe_sm.values,i) for i in range(X_train_scaled_rfe_sm.shape[1])]## shape(1) ---> for all coloumn
vif['VIF']=round(vif['VIF'],2)
vif=vif.sort_values(by='VIF',ascending=False)
vif

  Features    VIF
0    const  15.98
1   Pclass   1.98
5     Fare   1.91
3      Age   1.16
4    SibSp   1.15
2      Sex   1.10
6        Q   1.08

In [1200]:
# X_train_scaled_rfe_sm.drop('Fare',axis=1,inplace=True)

In [1201]:
lgmod=sm.GLM(y_train,X_train_scaled_rfe_sm,family=sm.families.Binomial()).fit()
print(lgmod.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  617
Model:                            GLM   Df Residuals:                      610
Model Family:                Binomial   Df Model:                            6
Link Function:                  logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -264.35
Date:                Thu, 12 Sep 2019   Deviance:                       528.69
Time:                        14:03:14   Pearson chi2:                     646.
No. Iterations:                     5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          3.9849      0.472      8.445      0.000       3.060       4.910
Pclass        -1.1836      0.186     -6.367      0.000      -1.548      -0.819
Sex           -2.8025      0.241    -11.626      0.000      -3.275      -2.330
Age           -0.4003      0.117     -3.409      0.001      -0.630      -0.170
SibSp         -0.3879      0.144     -2.692      0.007      -0.670      -0.106
Fare           0.1117      0.166      0.673      0.501      -0.214       0.437
Q              0.2958      0.396      0.747      0.455      -0.480       1.072
==============================================================================

In [1202]:
X_train_scaled_rfe_sm.drop('Q',axis=1,inplace=True)

In [1203]:
lgmod=sm.GLM(y_train,X_train_scaled_rfe_sm,family=sm.families.Binomial()).fit()
print(lgmod.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  617
Model:                            GLM   Df Residuals:                      611
Model Family:                Binomial   Df Model:                            5
Link Function:                  logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -264.62
Date:                Thu, 12 Sep 2019   Deviance:                       529.25
Time:                        14:03:14   Pearson chi2:                     639.
No. Iterations:                     5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          3.9644      0.471      8.412      0.000       3.041       4.888
Pclass        -1.1533      0.181     -6.374      0.000      -1.508      -0.799
Sex           -2.8255      0.240    -11.778      0.000      -3.296      -2.355
Age           -0.3927      0.117     -3.354      0.001      -0.622      -0.163
SibSp         -0.3987      0.144     -2.762      0.006      -0.682      -0.116
Fare           0.1155      0.166      0.694      0.487      -0.210       0.441
==============================================================================

In [1204]:
#check for the VIF value of feature variables
from statsmodels.stats.outliers_influence import variance_inflation_factor
# create DF that vll contain all features variables and thier respective VIF
vif=pd.DataFrame()
vif['Features']=X_train_scaled_rfe_sm.columns
vif['VIF']=[variance_inflation_factor(X_train_scaled_rfe_sm.values,i) for i in range(X_train_scaled_rfe_sm.shape[1])]## shape(1) ---> for all coloumn
vif['VIF']=round(vif['VIF'],2)
vif=vif.sort_values(by='VIF',ascending=False)
vif

  Features    VIF
0    const  15.91
5     Fare   1.91
1   Pclass   1.90
3      Age   1.15
4    SibSp   1.15
2      Sex   1.08

In [1205]:
y_train_sm_pred=lgmod.predict(X_train_scaled_rfe_sm)
len(y_train_sm_pred)

617

In [1206]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [1207]:
y_train.head()

329    1
859    0
823    1
804    1
269    1
Name: Survived, dtype: int64

In [1208]:
y_train_sm_pred.head()

329    0.963319
859    0.061937
823    0.627670
804    0.089610
269    0.949722
dtype: float64

In [1209]:
print('accuracy_score')
print(accuracy_score(y_train,y_train_sm_pred.round()))

accuracy_score
0.8022690437601296

In [1210]:
print('confusion matrix\n\n',confusion_matrix(y_train,y_pred_lgr_train))

confusion matrix

 [[332  47]
 [ 71 167]]

In [1211]:
X_test_rfe=X_test[X_train_scaled_rfe.columns]

In [1212]:
y_pred_lgr_test=lgr.predict(X_test_rfe)

In [1213]:
print('accurarcy',accuracy_score(y_test,y_pred_lgr_test))
print('confusion matrix\n\n',confusion_matrix(y_test,y_pred_lgr_test))
print('\n\nclassification report: \n\n',classification_report(y_test,y_pred_lgr_test))

accurarcy 0.7660377358490567
confusion matrix

 [[147  18]
 [ 44  56]]


classification report:

               precision    recall  f1-score   support

           0       0.77      0.89      0.83       165
           1       0.76      0.56      0.64       100

    accuracy                           0.77       265
   macro avg       0.76      0.73      0.73       265
weighted avg       0.76      0.77      0.76       265