In [132]:
import warnings
warnings.filterwarnings('ignore')

In [133]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [134]:
df1=pd.read_csv('titanic.csv')
df1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [135]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [136]:
df1.drop(['PassengerId','Name','Ticket','Cabin'],axis=1,inplace=True)

In [137]:
df1.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [138]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Sex         891 non-null object
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
Embarked    889 non-null object
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB

In [139]:
df1.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [140]:
df1['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [141]:
df1['Age'].fillna(method='bfill',inplace=True)

In [142]:
df1.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [143]:
df1['Embarked'].fillna(method='bfill',inplace=True)

In [144]:
df1.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [145]:
df1.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [146]:
df1['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [147]:
df1['Embarked'].value_counts()

S    645
C    169
Q     77
Name: Embarked, dtype: int64

In [148]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [149]:
df1['Sex']=le.fit_transform(df1['Sex'])

In [150]:
status=pd.get_dummies(df1['Embarked'],drop_first=True)
status.head()

   Q  S
0  0  1
1  0  0
2  0  1
3  0  1
4  0  1

In [151]:
df1=pd.concat([df1,status],axis=1)

In [152]:
df1.drop('Embarked',axis=1,inplace=True)

In [153]:
df1.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Q  S
0         0       3    1  22.0      1      0   7.2500  0  1
1         1       1    0  38.0      1      0  71.2833  0  0
2         1       3    0  26.0      0      0   7.9250  0  1
3         1       1    0  35.0      1      0  53.1000  0  1
4         0       3    1  35.0      0      0   8.0500  0  1

In [154]:
df1.skew()

Survived    0.478523
Pclass     -0.630548
Sex        -0.618921
Age         0.342346
SibSp       3.695352
Parch       2.749117
Fare        4.787317
Q           2.948778
S          -1.003362
dtype: float64

In [155]:
dff1=df1[(df1['Fare']>(np.mean(df1['Fare'])-(3*np.std(df1['Fare'])))) & (df1['Fare']<(np.mean(df1['Fare'])+2*np.std(df1['Fare'])))]
dff1.shape

(853, 9)

In [156]:
dff1.skew()

Survived    0.547883
Pclass     -0.760689
Sex        -0.687898
Age         0.354071
SibSp       3.757074
Parch       2.910165
Fare        1.868578
Q           2.864611
S          -1.053532
dtype: float64

In [157]:
dff1.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Q  S
0         0       3    1  22.0      1      0   7.2500  0  1
1         1       1    0  38.0      1      0  71.2833  0  0
2         1       3    0  26.0      0      0   7.9250  0  1
3         1       1    0  35.0      1      0  53.1000  0  1
4         0       3    1  35.0      0      0   8.0500  0  1

In [158]:
# dff2=dff1[(df1['SibSp']>(np.mean(df1['SibSp'])-(3*np.std(df1['SibSp'])))) & (df1['SibSp']<(np.mean(df1['SibSp'])+2.2*np.std(df1['SibSp'])))]
# dff2.shape

In [159]:
from sklearn.model_selection import train_test_split

In [160]:
X=dff1.drop('Survived',axis=1)
y=dff1.Survived

In [161]:
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.7,test_size=0.3,random_state=101)

In [162]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [163]:
X_train[['Age','Fare']]=sc.fit_transform(X_train[['Age','Fare']])
X_test[['Age','Fare']]=sc.transform(X_test[['Age','Fare']])
X_train_scaled=X_train
X_test_scaled=X_test
X_train_scaled.head()

     Pclass  Sex       Age  SibSp  Parch      Fare  Q  S
564       3    0 -0.386615      0      0 -0.653110  0  1
784       3    1 -0.315675      0      0 -0.695505  0  1
753       3    1 -0.457554      0      0 -0.659648  0  1
692       3    1 -0.315675      0      0  1.400720  0  1
625       1    1  2.238156      0      0  0.375836  0  1

In [164]:
from sklearn.linear_model import LogisticRegression
lgr=LogisticRegression()

In [165]:
from sklearn.feature_selection import RFE
rfe=RFE(lgr,6)

In [166]:
rfe=rfe.fit(X_train_scaled,y_train)
list(zip(X_train.columns,rfe.support_,rfe.ranking_))

[('Pclass', True, 1),
 ('Sex', True, 1),
 ('Age', True, 1),
 ('SibSp', True, 1),
 ('Parch', False, 2),
 ('Fare', True, 1),
 ('Q', False, 3),
 ('S', True, 1)]

In [167]:
selected_col=X_train_scaled.columns[rfe.support_]

In [168]:
X_train_scaled_rfe=X_train_scaled[selected_col]
type(X_train_scaled_rfe)

pandas.core.frame.DataFrame

In [169]:
lgr.fit(X_train_scaled_rfe,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [170]:
import statsmodels.api as sm

In [171]:
X_train_scaled_rfe_sm=sm.add_constant(X_train_scaled_rfe)

In [172]:
lgmod=sm.GLM(y_train,X_train_scaled_rfe_sm,family=sm.families.Binomial()).fit()

In [173]:
print(lgmod.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  597
Model:                            GLM   Df Residuals:                      590
Model Family:                Binomial   Df Model:                            6
Link Function:                  logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -263.34
Date:                Fri, 13 Sep 2019   Deviance:                       526.67
Time:                        08:28:39   Pearson chi2:                     589.
No. Iterations:                     5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          3.6715      0.554      6.626      0.000       2.586       4.758
Pclass        -0.9755      0.196     -4.979      0.000      -1.360      -0.592
Sex           -2.5391      0.238    -10.663      0.000      -3.006      -2.072
Age           -0.5091      0.123     -4.154      0.000      -0.749      -0.269
SibSp         -0.4569      0.139     -3.287      0.001      -0.729      -0.184
Fare           0.2904      0.169      1.718      0.086      -0.041       0.622
S             -0.3396      0.251     -1.353      0.176      -0.832       0.152
==============================================================================

In [174]:
X_train_scaled_rfe_sm.drop('S',axis=1,inplace=True)

In [175]:
lgmod=sm.GLM(y_train,X_train_scaled_rfe_sm,family=sm.families.Binomial()).fit()

In [176]:
print(lgmod.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  597
Model:                            GLM   Df Residuals:                      591
Model Family:                Binomial   Df Model:                            5
Link Function:                  logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -264.24
Date:                Fri, 13 Sep 2019   Deviance:                       528.49
Time:                        09:36:48   Pearson chi2:                     585.
No. Iterations:                     5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          3.3785      0.503      6.714      0.000       2.392       4.365
Pclass        -0.9412      0.193     -4.886      0.000      -1.319      -0.564
Sex           -2.5681      0.238    -10.804      0.000      -3.034      -2.102
Age           -0.5054      0.123     -4.111      0.000      -0.746      -0.264
SibSp         -0.4917      0.137     -3.578      0.000      -0.761      -0.222
Fare           0.3384      0.165      2.052      0.040       0.015       0.662
==============================================================================

In [177]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [178]:
vif=pd.DataFrame()
vif['Features']=X_train_scaled_rfe_sm.columns
vif['VIF']=[variance_inflation_factor(X_train_scaled_rfe_sm.values,i) for i in range(X_train_scaled_rfe_sm.shape[1])]
vif["VIF"]=round(vif["VIF"],2)
vif=vif.sort_values(by="VIF",ascending=False)
vif

  Features    VIF
0    const  21.81
5     Fare   2.36
1   Pclass   2.21
4    SibSp   1.40
3      Age   1.15
2      Sex   1.06

In [179]:
y_pred_sm=lgmod.predict(X_train_scaled_rfe_sm)

In [180]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [181]:
print(' Accuracy Score:\n')
print(accuracy_score(y_train,y_pred_sm.round()))

 Accuracy Score:

0.7922948073701842

In [182]:
print("confusion Matrix:\n\n",confusion_matrix(y_train,y_pred_sm.round()))

confusion Matrix:

 [[341  49]
 [ 75 132]]

In [183]:
X_test_scaled_rfe=X_test[X_train_scaled_rfe.columns]
X_test_scaled_rfe.head()

     Pclass  Sex       Age  SibSp      Fare  S
252       1    1  2.309096      0  0.131186  1
724       1    1 -0.173795      1  1.256757  1
586       2    1  1.245000      0 -0.358469  1
878       3    1  1.883457      0 -0.659648  1
788       3    1 -2.018229      1 -0.122121  1

In [184]:
y_pred_lgr_test=lgr.predict(X_test_scaled_rfe)

In [185]:
print(' Accuracy Score:\n')
print(accuracy_score(y_test,y_pred_lgr_test.round()))

 Accuracy Score:

0.78515625

In [186]:
print("confusion Matrix:\n\n",confusion_matrix(y_test,y_pred_lgr_test.round()))

confusion Matrix:

 [[133  16]
 [ 39  68]]

In [187]:
print("\n\nClassification Report:\n",classification_report(y_test,y_pred_lgr_test))

Classification Report:
               precision    recall  f1-score   support

           0       0.77      0.89      0.83       149
           1       0.81      0.64      0.71       107

    accuracy                           0.79       256
   macro avg       0.79      0.76      0.77       256
weighted avg       0.79      0.79      0.78       256