In [7]:
import pandas as pd
import numpy as np
a=[1,2,3,4]
s1=pd.Series(a)
s1

0    1
1    2
2    3
3    4
dtype: int64

In [8]:
type(s1)

pandas.core.series.Series

In [9]:
s1.dtype

dtype('int64')

In [11]:
d={'a':[1,2,3,4,5]}
s2=pd.Series(d)
s2

a    [1, 2, 3, 4, 5]
dtype: object

In [18]:
d=[1,2,3,4]
s2=pd.Series(d,index=['a','b','c','d'])
s2

a    1
b    2
c    3
d    4
dtype: int64

In [19]:
e=['a','b','c','d']
d=[1,2,3,4]
s2=pd.Series(d,index=e)
s2

a    1
b    2
c    3
d    4
dtype: int64

In [15]:
type(s2)

pandas.core.series.Series

In [16]:
t=(1,2,3)
s2=pd.Series(t)
s2

0    1
1    2
2    3
dtype: int64

In [21]:
d={'a':[1,2,3,4,5]}
s2=pd.Series(d,index=['a','b','c','d'])
s2

a    [1, 2, 3, 4, 5]
b                NaN
c                NaN
d                NaN
dtype: object

In [23]:
d={'a':1,'b':2,'c':2}
s3=pd.Series(d)
s3

a    1
b    2
c    2
dtype: int64

In [24]:
d={'a':1,'b':2,'c':2}
s3=pd.Series(d,index=['z','x','c'])
s3

z    NaN
x    NaN
c    2.0
dtype: float64

In [28]:
d={'Roll NO':'Name','1':'ram','2':'ravi','3':'rajesh','4':'reka','5':'raj'}
s3=pd.Series(d)
s3

Roll NO      Name
1             ram
2            ravi
3          rajesh
4            reka
5             raj
dtype: object

In [31]:
s3[2]

'ravi'

In [33]:
s3=pd.Series([1,2,3,4,5])
s3

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [32]:
s3=pd.Series([1,2,3,4,5])
lst=s3.to_list()#converting series to list
lst

[1, 2, 3, 4, 5]

In [36]:
s5=pd.Series([1,2,'po',3.4,5])
s5

0      1
1      2
2     po
3    3.4
4      5
dtype: object

In [44]:
s6=pd.to_numeric(s5)
s6

ValueError: Unable to parse string "po" at position 2

In [43]:
s6=pd.to_numeric(s5,errors='coerce')
s6#makes everthing as numeric

0    1.0
1    2.0
2    NaN
3    3.4
4    5.0
dtype: float64

# lamda

In [45]:
a=lambda(x:x**2)
a(5)

SyntaxError: invalid syntax (<ipython-input-45-04d8b66e40b9>, line 1)

In [46]:
a=lambda x:x**2
a(5)

25

In [48]:
b=lambda x,y,z:(x**2+y**2+z**2)
b(1,1,2)

6

In [52]:
area=lambda r:3.14*r*r
area(2)

12.56

In [54]:
import math
area=lambda r:math.pi*r*r
area(2)

12.566370614359172

mapping in lambda we give expression

In [64]:
lst=[1,2,3,4]
lst1=list(map(lambda x:x**2,lst))
lst1

[1, 4, 9, 16]

In [65]:
cel=[20,30,40,60]
fer=list(map(lambda c:c*9/5+32,cel))
fer

[68.0, 86.0, 104.0, 140.0]

filter in lambda where we give condition

In [66]:
lst=[1,2,3,4,5,6,7]
lst1=list(filter(lambda x:x%2!=0,lst))
lst1

[1, 3, 5, 7]

In [67]:
lst=range(101)
lst1=list(filter(lambda x:x%5==0,lst))
lst1

[0,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

In [81]:
lst=range(100)
lst1=list(filter(lambda a:a**(1/2)%1==0,lst))
lst1

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [79]:
56**(1/2)%1

0.48331477354788266

In [80]:
9**(1/2)%1

0.0

In [82]:
lst=range(100)
lst1=list(filter(lambda a:math.sqrt(a)%1==0,lst))
lst1

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [86]:
from functools import reduce
lst=[1,2,1,1]
lst1=(reduce(lambda x,y:x+y,lst))#reduce the list to single value
lst1

5

In [87]:
from functools import reduce
lst=[1,2,1,1]
lst1=(reduce(lambda x,y:x**y,lst))
lst1

1

# dataframes

In [88]:
lst=[[1,2],[1,2],[2,3]]
b=np.array([[1,2,3],[2,3,4]])
d={'a':[1,2,3,4],'b':[14,'po',4,5],'c':[12,'mk','3.5',6]}
df1=pd.Dataframes(lst)

AttributeError: module 'pandas' has no attribute 'Dataframes'