# comparision operator

In [1]:
10==10

True

In [2]:
10!=20

True

In [3]:
10>=20

False

In [4]:
10<12

True

In [5]:
10>2

True

In [ ]:
10>=20

# if block

In [3]:
loc='pooja'

if loc=='sam':
    print('welcome sam')
elif loc=='jhon':
    print('welcome jhon')
else:
    print('whats ur name')

whats ur name

# median

In [18]:
a=20
b=3
c=13
if a>b and a>c and b>c:
    print(b)
elif b>c:
    print(a)
else:
    print(c)

13

In [32]:
a=2
b=3
c=1
if a<b and a>c:
    print(a)
elif b<c and b>a:
    print(b)
else:
    print(c)

2

summer=june20-sep19

autumn=sep20-dec19

winter=dec20-mar19

spring=mar20-jun19

In [5]:
date=19

month='jun'
if (month=='jun'and date>=20) or (month=='sep' and date<=19) or month=='jul'or month=='aug' and date>=20 and date<=19:
    season='summer'
elif (month=='sep'and date>=20) or month=='oct'or month=='nov'or (month=='dec'and date<=19) and date>=20 and date<=19:
    season='automn'
elif (month=='dec'and date>=20)or month=='jan'or month=='feb' or (month=='mar'and date<=19) and date>=20 and date<=19:
    season='winter'
elif (month=='mar' and date>=20) or month=='apr' or month=='may'or (month=='jun'and date<=19) and date>=20 and date<=19:
    season='spring'

    
print(season)

summer

In [62]:
date=19
month='dec'

if month=='jul' or month=='aug':
    season='summer'
elif month=='oct' or month=='nov':
    season='automn'
elif month=='jan' or month=='feb':
    season='winter'
elif month=='apr' or month=='may':
    season='spring'
    
if month=='jun':
    if date>=20 and date<=30:
        season='summer'
    else:
        season='spring'
if month=='sep':
    if date>=20 and date<=30:
        season='automn'
    else:
        season='summer'
if month=='dec':
    if date>=20 and date<=30:
        season='winter'
    else:
        season='automn'
if month=='mar':
    if date>=20 and date<=30:
        season='spring'
    else:
        season='winter'

season

'automn'

# while

In [73]:
x=10
while x>=0:
    print(x)
    x-=2

10
8
6
4
2
0

In [74]:
x=10
while x>=0:
    if x%2==0:
        print(x)
    
    x-=1

10
8
6
4
2
0

In [75]:
x=10
while x>=0:
    if x%2!=0:
        print(x)
    
    x-=1

9
7
5
3
1

In [76]:
x=10
while x>=0:
    if x==3:
        print('x is 3 so breaking')
        break
    print(x)
    
    x-=1

10
9
8
7
6
5
4
x is 3 so breaking

# list

In [81]:
list(range(11,-1,-1))

[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [80]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [82]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# enumerate

In [84]:
lst=[2,3,4,5,6,7]
for index,value in enumerate(lst):
    print(index,value)

0 2
1 3
2 4
3 5
4 6
5 7

In [86]:
lst=[2,3,4,5,6,7]
for index,value in enumerate(lst):
    if value==4:
        print('index is',index)

index is 2

In [1]:
#this is to print in same line

for row in range(0,7):
    for col in range(0,7):
        if(row==0 or row==6 or row+col==6):
            print('*', end ='')
print('')

*******************

In [1]:
# to reverse a string
s='abc'
p=s[::-1]
p

'cba'

In [2]:
def sumOfSquares(*arg):
    sum=0
    for i in arg:
        sum=sum+arg[i]
    print(sum)
sumOfSquares(1,2,3,4)

IndexError: tuple index out of range