# Heading1
## Heading2
### Heading3
#### Heading4
###### Heading5
akjalsksjk

In [1]:
# know your current directory
%pwd

'C:\\Users\\User\\python_new'

In [8]:
print("Hello World")

Hello World

In [2]:
# know the python version
import sys
print(sys.version)

3.7.3 (default, Apr 24 2019, 15:29:51) [MSC v.1915 64 bit (AMD64)]

## Mathemamtical Calculations

In [12]:
# Addition
3+4

0

In [13]:
# Subtraction
3-4

-1

In [14]:
# Multiplication
3*4

12

In [15]:
# Division
3/4

0.75

In [16]:
# Modulus
3%4

3

In [17]:
# Floor Division
3//4

0

In [1]:
8//7

1

In [2]:
16//7

2

In [18]:
# BODMAS
3+4+7*8-4/2

61.0

In [19]:
import math
print(math.sqrt(9))

3.0

In [20]:
# Square Root
9**(1/2)

3.0

In [21]:
# Cube Root
27**(1/3)

3.0

## Data Types
int

float

bool

str

datetime

enumerate

In [29]:
a=2
a

2

In [33]:
type(a)

int

In [24]:
a

2

In [65]:
b=4.5
type(b)

float

In [66]:
a=3.5

In [67]:
type(a)

float

In [68]:
b = int(a)

In [69]:
b

3

In [70]:
a+b

6.5

In [71]:
b+True

4

In [4]:
w=1
w+False

1

In [72]:
3.5 + b + True

7.5

In [74]:
c="data"
c

'data'

In [75]:
type(c)

str

In [76]:
d = float(c)

ValueError: could not convert string to float: 'data'

In [82]:
e = '3.5'
type(e)

str

In [83]:
f = float(e)
f

3.5

#### We cannot convert str to float and float to int (we should convert it directly from str to int)

In [4]:
p=int(f)

NameError: name 'f' is not defined

In [85]:
m = '3'

In [86]:
n = int(m)
n

3

In [87]:
3.4 + int('3') + True

7.4

In [88]:
int(True)

1

In [89]:
float(True)

1.0

In [90]:
str(True)

'True'

In [91]:
bool('False')

True

In [92]:
bool(1)

True

In [93]:
bool(0)

False

In [94]:
bool('')

False

In [1]:
bool(False)

False

In [2]:
bool(True)

True

In [3]:
s = "i am a Data Scientist"
type(s)

str

In [4]:
len(s)

21

# Assignment Operator

In [5]:
a = 5
a = a+4

In [6]:
a

9

In [8]:
a += 4

In [9]:
a

13

In [10]:
a -= 3

In [11]:
a

10

In [12]:
b =2
a *= b
a

20

In [13]:
a **= 2

In [14]:
a

400

In [15]:
5<7

True

In [16]:
5<7 and not 7>8

True

In [17]:
my_income = 100
tax_rate = 0.1
my_taxes = my_income * tax_rate
print(my_taxes)

10.0

In [1]:
s='my name is pooja'
len(s)

16

In [2]:
s[0]

'm'

In [4]:
s[1:5]

'y na'

In [5]:
s[1:]

'y name is pooja'

In [6]:
s[-1]

'a'

In [7]:
s[-5]

'p'

In [8]:
s[-1:]

'a'

In [9]:
s[::-1]

'ajoop si eman ym'

In [10]:
s.upper()

'MY NAME IS POOJA'

In [11]:
s.lower()

'my name is pooja'

In [12]:
s.title()

'My Name Is Pooja'

In [13]:
s.capitalize()

'My name is pooja'

In [18]:
s = "My name is Narayana Swamy"

In [19]:
len(s)

25

In [20]:
for i in s:
    print(i)

M
y

n
a
m
e

i
s

N
a
r
a
y
a
n
a

S
w
a
m
y

In [21]:
s[0]

'M'

In [22]:
s[0,8]

TypeError: string indices must be integers

In [23]:
s[0:8]

'My name '

In [24]:
s[::-1]

'ymawS anayaraN si eman yM'

In [25]:
s[-1]

'y'

In [26]:
s[-1:]

''

In [27]:
s[0:6]

'My nam'

In [28]:
s[0:7]

'My name'

In [29]:
s.upper()

'MY NAME IS NARAYANA SWAMY'

In [30]:
s.lower()

'my name is narayana swamy'

In [31]:
s.capitalize()

'My name is narayana swamy'

In [32]:
s.title()

'My Name Is Narayana Swamy'

In [33]:
s.split()

['My', 'name', 'is', 'Narayana', 'Swamy']

In [34]:
s.split('M')

['', 'y name is Narayana Swamy']

In [41]:
name = 'swamy'
age = 30
print('my name is {} and age is {}'.format(name,age))

my name is swamy and age is 30

In [43]:
name1 = 'Bangalore'
name2 = 'Mysore'
d = 150
print('the distance between {} and {} is {}'.format(name1,name2,d))

the distance between Bangalore and Mysore is 150

In [50]:
s1 = 'My'
s2 = 'Name'
s3 = '23'

In [51]:
s1+s2+s3

'MyName23'

In [52]:
s1*5

'MyMyMyMyMy'

# list

In [53]:
lit=[]

In [54]:
type(lit)

list

In [55]:
len(lit)

0

In [63]:
lst=['name is',20,2.6,'0']

In [64]:
list=lst

In [65]:
list

['name is', 20, 2.6, '0']

In [66]:
list[0]

'name is'

In [67]:
list[:2]

['name is', 20]

In [68]:
list[0:2]

['name is', 20]

In [69]:
list[0][5:]

'is'

In [70]:
#use split function and get the domain name
email='pooja.mk@testyantra.in'

In [75]:
b=email.split('@')
b

['pooja.mk', 'testyantra.in']

In [76]:
b=email.split('@')[1]
b

'testyantra.in'

In [77]:
a=[2,3,4,5]
b=[6,7,8,9]
a+b

[2, 3, 4, 5, 6, 7, 8, 9]

In [78]:
a-b

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [79]:
a*b

TypeError: can't multiply sequence by non-int of type 'list'

In [80]:
a*2

[2, 3, 4, 5, 2, 3, 4, 5]

In [81]:
a.append(10)

In [82]:
a

[2, 3, 4, 5, 10]

In [83]:
a.extend(2)

TypeError: 'int' object is not iterable

In [84]:
a.extend([2])

In [85]:
a.extend([0,9,8])

In [86]:
a

[2, 3, 4, 5, 10, 2, 0, 9, 8]

In [87]:
a.insert(3,'pooja')
a

[2, 3, 4, 'pooja', 5, 10, 2, 0, 9, 8]

In [88]:
a.clear(0)
a

TypeError: clear() takes no arguments (1 given)

In [89]:
a.clear
a

[2, 3, 4, 'pooja', 5, 10, 2, 0, 9, 8]

In [90]:
a.clear()
a

[]

In [91]:
p=[1,2,3,4,5]

In [92]:
p.copy()

[1, 2, 3, 4, 5]

In [93]:
c=p.copy()

In [94]:
c

[1, 2, 3, 4, 5]

In [95]:
nl=[2,3,4,['po',1],'mk',[9,8,7]]

In [96]:
nl[3][1]

1

In [100]:
nl[3][0]

'po'

In [103]:
del(p)

NameError: name 'p' is not defined

In [106]:
n=[1,2,3['po',1,['mk',9,9]]]

TypeError: 'int' object is not subscriptable

In [107]:
a=10
b=str(a)

In [108]:
b

'10'

# dictinory

In [111]:
d={"name":"pooja",
    "age":22
     }

In [112]:
d1

{'name': 'pooja', 'age': 22}

In [113]:
d1={"name":["pooja","kavya","moulya","mamatha"],
   "age":[21,20,22,19],
   "course":["a","b","c","c"]}

In [114]:
d1

{'name': ['pooja', 'kavya', 'moulya', 'mamatha'],
 'age': [21, 20, 22, 19],
 'course': ['a', 'b', 'c', 'c']}

In [115]:
d1["name"]

['pooja', 'kavya', 'moulya', 'mamatha']

In [116]:
d1["age"]

[21, 20, 22, 19]

In [117]:
d1["name","age"]

KeyError: ('name', 'age')

In [118]:
d1["age"][3]

19

In [119]:
d1.items()

dict_items([('name', ['pooja', 'kavya', 'moulya', 'mamatha']), ('age', [21, 20, 22, 19]), ('course', ['a', 'b', 'c', 'c'])])

In [120]:
d1.keys()

dict_keys(['name', 'age', 'course'])

In [121]:
type(d1)

dict

In [122]:
d1.update("upadte":[1,2,3])
d1

SyntaxError: invalid syntax (<ipython-input-122-281d937bfc9f>, line 1)

# tuples

In [128]:
tup1=(1,2,3,4,2,4,3,5)
tup1

(1, 2, 3, 4, 2, 4, 3, 5)

In [124]:
type(tup1)

tuple

In [125]:
tup1[3]

4

In [126]:
tup1[3]=100

TypeError: 'tuple' object does not support item assignment

In [129]:
tup1.count(2)

2

In [130]:
tup1.index(10,2,3)

ValueError: tuple.index(x): x not in tuple

# sets

In [133]:
s1={2,3,4,5,5,5,5,5,5,5,6}

In [134]:
s1

{2, 3, 4, 5, 6}

In [135]:
s2={1,2,3,4,5,1,2,3,4,5,1,2,3,4,5}
s1

{2, 3, 4, 5, 6}

In [136]:
s1.intersection(s2)

{2, 3, 4, 5}

In [137]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [138]:
s1.difference()

{2, 3, 4, 5, 6}