In [4]:
import numpy as np
import pandas as pd
df=pd.read_csv('mt_cars.csv')
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110.0,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,NaN,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105.0,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245.0,NaN,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95.0,NaN,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,NaN,123.0,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,NaN,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,NaN,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,NaN,8,275.8,180.0,NaN,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,NaN,3.07,NaN,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,NaN,NaN,NaN,NaN,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,NaN,NaN,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66.0,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,NaN,52.0,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,NaN,NaN,1.835,NaN,1,1,4,1
20,Toyota Corona,21.5,4,120.1,NaN,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,NaN,150.0,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,NaN,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,NaN,8,350.0,245.0,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,NaN,91.0,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,NaN,8,NaN,264.0,4.22,NaN,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175.0,3.62,NaN,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,NaN,109.0,NaN,2.780,18.60,1,1,4,2

In [5]:
df[df['cyl']==6][['disp']]

     disp
0   160.0
1   160.0
3   258.0
5   225.0
9     NaN
10  167.6
29  145.0

In [6]:
a=df[df['cyl']==6][['disp']].mean()
a

disp    185.933333
dtype: float64

In [7]:
df[df['cyl']==6][['disp']].fillna(value=a)

          disp
0   160.000000
1   160.000000
3   258.000000
5   225.000000
9   185.933333
10  167.600000
29  145.000000

In [8]:
df[df['cyl']==6][['disp']].fillna(value=a,inplace=True)
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110.0,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,NaN,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105.0,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245.0,NaN,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95.0,NaN,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,NaN,123.0,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,NaN,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,NaN,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,NaN,8,275.8,180.0,NaN,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,NaN,3.07,NaN,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,NaN,NaN,NaN,NaN,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,NaN,NaN,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66.0,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,NaN,52.0,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,NaN,NaN,1.835,NaN,1,1,4,1
20,Toyota Corona,21.5,4,120.1,NaN,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,NaN,150.0,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,NaN,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,NaN,8,350.0,245.0,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,NaN,91.0,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,NaN,8,NaN,264.0,4.22,NaN,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175.0,3.62,NaN,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,NaN,109.0,NaN,2.780,18.60,1,1,4,2

In [9]:
df['disp'].fillna(value=a,inplace=True)

In [10]:
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110.0,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,NaN,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105.0,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245.0,NaN,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95.0,NaN,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,NaN,123.0,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,NaN,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,NaN,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,NaN,8,275.8,180.0,NaN,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,NaN,3.07,NaN,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,NaN,NaN,NaN,NaN,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,NaN,NaN,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66.0,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,NaN,52.0,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,NaN,NaN,1.835,NaN,1,1,4,1
20,Toyota Corona,21.5,4,120.1,NaN,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,NaN,150.0,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,NaN,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,NaN,8,350.0,245.0,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,NaN,91.0,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,NaN,8,NaN,264.0,4.22,NaN,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175.0,3.62,NaN,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,NaN,109.0,NaN,2.780,18.60,1,1,4,2

In [22]:
a=df[df['cyl']==6]['disp'].mean()
df['disp']=df.apply(lambda row: a 
                    if(row.cyl==6) & (np.isnan(row['disp']))
                    else row.disp,axis=1)
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160,110.0,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160,110.0,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108,93.0,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258,110.0,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,NaN,8,360,175.0,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225,105.0,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360,245.0,NaN,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95.0,NaN,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,[185.9333333333333],123.0,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,NaN,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,NaN,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,NaN,8,275.8,180.0,NaN,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,NaN,3.07,NaN,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,NaN,NaN,NaN,NaN,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460,215.0,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,NaN,NaN,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66.0,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,NaN,52.0,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,NaN,NaN,1.835,NaN,1,1,4,1
20,Toyota Corona,21.5,4,120.1,NaN,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,NaN,150.0,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,NaN,8,304,150.0,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,NaN,8,350,245.0,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400,175.0,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79,66.0,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,NaN,91.0,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,NaN,8,NaN,264.0,4.22,NaN,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145,175.0,3.62,NaN,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301,335.0,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,NaN,109.0,NaN,2.780,18.60,1,1,4,2

In [25]:
a=df[df['cyl']==8]['disp'].mean()
df['disp']=df.apply(lambda row: a 
                    if(row.cyl==8) & (np.isnan(row['disp']))
                    else row.disp,axis=1)
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160,110.0,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160,110.0,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108,93.0,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258,110.0,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,NaN,8,360,175.0,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225,105.0,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360,245.0,NaN,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95.0,NaN,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,[185.9333333333333],123.0,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,NaN,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,NaN,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,NaN,8,275.8,180.0,NaN,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,NaN,3.07,NaN,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,336.24,NaN,NaN,NaN,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460,215.0,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,336.24,NaN,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66.0,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,104.938,52.0,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,NaN,NaN,1.835,NaN,1,1,4,1
20,Toyota Corona,21.5,4,120.1,NaN,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,336.24,150.0,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,NaN,8,304,150.0,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,NaN,8,350,245.0,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400,175.0,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79,66.0,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,104.938,91.0,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,NaN,8,336.24,264.0,4.22,NaN,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145,175.0,3.62,NaN,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301,335.0,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,104.938,109.0,NaN,2.780,18.60,1,1,4,2

In [24]:
a=df[df['cyl']==4]['disp'].mean()
df['disp']=df.apply(lambda row: a 
                    if(row.cyl==4) & (np.isnan(row['disp']))
                    else row.disp,axis=1)
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160,110.0,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160,110.0,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108,93.0,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258,110.0,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,NaN,8,360,175.0,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225,105.0,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360,245.0,NaN,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95.0,NaN,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,[185.9333333333333],123.0,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,NaN,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,NaN,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,NaN,8,275.8,180.0,NaN,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,NaN,3.07,NaN,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,336.24,NaN,NaN,NaN,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460,215.0,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,336.24,NaN,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66.0,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,104.938,52.0,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,NaN,NaN,1.835,NaN,1,1,4,1
20,Toyota Corona,21.5,4,120.1,NaN,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,336.24,150.0,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,NaN,8,304,150.0,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,NaN,8,350,245.0,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400,175.0,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79,66.0,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,104.938,91.0,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,NaN,8,336.24,264.0,4.22,NaN,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145,175.0,3.62,NaN,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301,335.0,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,104.938,109.0,NaN,2.780,18.60,1,1,4,2

In [26]:
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160,110.0,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160,110.0,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108,93.0,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258,110.0,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,NaN,8,360,175.0,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225,105.0,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360,245.0,NaN,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95.0,NaN,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,[185.9333333333333],123.0,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,NaN,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,NaN,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,NaN,8,275.8,180.0,NaN,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,NaN,3.07,NaN,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,336.24,NaN,NaN,NaN,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460,215.0,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,336.24,NaN,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66.0,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,104.938,52.0,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,NaN,NaN,1.835,NaN,1,1,4,1
20,Toyota Corona,21.5,4,120.1,NaN,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,336.24,150.0,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,NaN,8,304,150.0,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,NaN,8,350,245.0,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400,175.0,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79,66.0,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,104.938,91.0,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,NaN,8,336.24,264.0,4.22,NaN,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145,175.0,3.62,NaN,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301,335.0,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,104.938,109.0,NaN,2.780,18.60,1,1,4,2