In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv('winequality-red.csv',sep=';')
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
fixed acidity           1599 non-null float64
volatile acidity        1599 non-null float64
citric acid             1599 non-null float64
residual sugar          1599 non-null float64
chlorides               1599 non-null float64
free sulfur dioxide     1599 non-null float64
total sulfur dioxide    1599 non-null float64
density                 1599 non-null float64
pH                      1599 non-null float64
sulphates               1599 non-null float64
alcohol                 1599 non-null float64
quality                 1599 non-null int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [5]:
df.skew()

fixed acidity           0.982751
volatile acidity        0.671593
citric acid             0.318337
residual sugar          4.540655
chlorides               5.680347
free sulfur dioxide     1.250567
total sulfur dioxide    1.515531
density                 0.071288
pH                      0.193683
sulphates               2.428672
alcohol                 0.860829
quality                 0.217802
dtype: float64

In [6]:
df1=df[(df['chlorides']>(np.mean(df['chlorides'])-(3*np.std(df['chlorides'])))) & (df['chlorides']<(np.mean(df['chlorides'])+2.5*np.std(df['chlorides'])))]
df1.shape

(1560, 12)

In [7]:
df1.skew()

fixed acidity           0.985327
volatile acidity        0.682222
citric acid             0.307195
residual sugar          4.259532
chlorides               1.694160
free sulfur dioxide     1.186534
total sulfur dioxide    1.533022
density                 0.033584
pH                      0.234242
sulphates               2.273801
alcohol                 0.846852
quality                 0.232261
dtype: float64

In [8]:
df2=df1[(df1['residual sugar']>(np.mean(df1['residual sugar'])-(3*np.std(df1['residual sugar'])))) & (df1['residual sugar']<(np.mean(df1['residual sugar'])+2*np.std(df1['residual sugar'])))]
df2.shape

(1488, 12)

In [9]:
df2.skew()

fixed acidity           0.958075
volatile acidity        0.686075
citric acid             0.304198
residual sugar          1.697598
chlorides               1.571450
free sulfur dioxide     1.046765
total sulfur dioxide    1.236460
density                -0.037987
pH                      0.246386
sulphates               2.327246
alcohol                 0.838363
quality                 0.235204
dtype: float64

In [10]:
df3=df2[(df2['sulphates']>(np.mean(df2['sulphates'])-(3*np.std(df2['sulphates'])))) & (df2['sulphates']<(np.mean(df2['sulphates'])+3*np.std(df2['sulphates'])))]
df3.shape

(1469, 12)

In [11]:
df3.skew()

fixed acidity           0.961168
volatile acidity        0.688801
citric acid             0.313977
residual sugar          1.690672
chlorides               1.585944
free sulfur dioxide     1.052348
total sulfur dioxide    1.247989
density                -0.031356
pH                      0.284176
sulphates               0.783415
alcohol                 0.832525
quality                 0.236126
dtype: float64

In [12]:
X=df.drop('quality',axis=1)
y=df.quality

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=101)

In [15]:
from sklearn.preprocessing import MinMaxScaler
sc=MinMaxScaler()

In [16]:
X_train_scaled=sc.fit_transform(X_train)

In [17]:
X_train_scaled_df=pd.DataFrame(X_train_scaled)

In [18]:
X_train_scaled_df.head(2)

,0,1,2,3,4,5,6,7,8,9,10
0,0.357798,0.226027,0.31,0.116438,0.123539,0.281690,0.155477,0.596916,0.496063,0.347305,0.267857
1,0.376147,0.294521,0.04,0.089041,0.178631,0.183099,0.176678,0.450073,0.370079,0.161677,0.446429

In [19]:
X_test_scaled=sc.transform(X_test)
X_test_scaled_df=pd.DataFrame(X_test_scaled)
X_test_scaled_df.head(2)

,0,1,2,3,4,5,6,7,8,9,10
0,0.330275,0.452055,0.10,0.116438,0.115192,0.619718,0.286219,0.604258,0.582677,0.11976,0.285714
1,0.256881,0.414384,0.04,0.041096,0.106845,0.098592,0.031802,0.367841,0.409449,0.11976,0.214286

In [20]:
from sklearn.naive_bayes import GaussianNB,BernoulliNB,MultinomialNB
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [21]:
G=GaussianNB()

In [22]:
g1=G.fit(X_train_scaled_df,y_train)

In [23]:
X_train_pred=g1.predict(X_train_scaled_df)

In [24]:
accuracy_score(y_train,X_train_pred)

0.5638963360142984

In [25]:
confusion_matrix(y_train,X_train_pred)

array([[  1,   0,   4,   0,   0,   0],
       [  1,   9,  12,  12,   0,   0],
       [  5,  17, 308, 122,  21,   0],
       [  0,  12, 136, 225,  81,   4],
       [  0,   1,   9,  37,  86,   3],
       [  0,   0,   0,   3,   8,   2]], dtype=int64)

In [26]:
print('\n',classification_report(y_train,X_train_pred))

               precision    recall  f1-score   support

           3       0.14      0.20      0.17         5
           4       0.23      0.26      0.25        34
           5       0.66      0.65      0.65       473
           6       0.56      0.49      0.53       458
           7       0.44      0.63      0.52       136
           8       0.22      0.15      0.18        13

    accuracy                           0.56      1119
   macro avg       0.38      0.40      0.38      1119
weighted avg       0.57      0.56      0.56      1119

In [27]:
X_test_pred=g1.predict(X_test_scaled_df)

In [28]:
accuracy_score(y_test,X_test_pred)

0.5291666666666667

In [29]:
print('\n',classification_report(y_test,X_test_pred))

               precision    recall  f1-score   support

           3       0.00      0.00      0.00         5
           4       0.00      0.00      0.00        19
           5       0.71      0.66      0.69       208
           6       0.52      0.47      0.50       180
           7       0.34      0.49      0.40        63
           8       0.00      0.00      0.00         5

    accuracy                           0.53       480
   macro avg       0.26      0.27      0.26       480
weighted avg       0.55      0.53      0.54       480

In [30]:
confusion_matrix(y_test,X_test_pred)

array([[  0,   3,   1,   1,   0,   0],
       [  0,   0,  10,   7,   1,   1],
       [  4,   9, 138,  43,  13,   1],
       [  1,   6,  42,  85,  43,   3],
       [  0,   0,   3,  26,  31,   3],
       [  0,   0,   0,   1,   4,   0]], dtype=int64)

In [31]:
B=BernoulliNB()

In [32]:
b1=B.fit(X_train_scaled_df,y_train)

In [33]:
X_train_pred=b1.predict(X_train_scaled_df)

In [34]:
accuracy_score(y_train,X_train_pred)

0.43789097408400357

In [35]:
print('\n',classification_report(y_train,X_train_pred))

               precision    recall  f1-score   support

           3       0.00      0.00      0.00         5
           4       1.00      0.06      0.11        34
           5       0.43      0.93      0.59       473
           6       0.51      0.10      0.17       458
           7       1.00      0.03      0.06       136
           8       0.00      0.00      0.00        13

    accuracy                           0.44      1119
   macro avg       0.49      0.19      0.15      1119
weighted avg       0.54      0.44      0.33      1119

In [36]:
X_test_pred=b1.predict(X_test_scaled_df)

In [37]:
accuracy_score(y_test,X_test_pred)

0.4166666666666667

In [38]:
print('\n',classification_report(y_test,X_test_pred))

               precision    recall  f1-score   support

           3       0.00      0.00      0.00         5
           4       0.00      0.00      0.00        19
           5       0.43      0.89      0.58       208
           6       0.27      0.07      0.11       180
           7       1.00      0.02      0.03        63
           8       0.00      0.00      0.00         5

    accuracy                           0.42       480
   macro avg       0.28      0.16      0.12       480
weighted avg       0.42      0.42      0.30       480

In [39]:
M=MultinomialNB()

In [40]:
m1=M.fit(X_train_scaled_df,y_train)

In [41]:
X_train_pred=m1.predict(X_train_scaled_df)

In [42]:
accuracy_score(y_train,X_train_pred)

0.550491510277033

In [43]:
print('\n',classification_report(y_train,X_train_pred))

               precision    recall  f1-score   support

           3       0.00      0.00      0.00         5
           4       0.00      0.00      0.00        34
           5       0.59      0.80      0.68       473
           6       0.50      0.52      0.51       458
           7       0.00      0.00      0.00       136
           8       0.00      0.00      0.00        13

    accuracy                           0.55      1119
   macro avg       0.18      0.22      0.20      1119
weighted avg       0.45      0.55      0.49      1119

In [44]:
X_test_pred=b1.predict(X_test_scaled_df)

In [45]:
accuracy_score(y_test,X_test_pred)

0.4166666666666667

In [46]:
print('\n',classification_report(y_test,X_test_pred))

               precision    recall  f1-score   support

           3       0.00      0.00      0.00         5
           4       0.00      0.00      0.00        19
           5       0.43      0.89      0.58       208
           6       0.27      0.07      0.11       180
           7       1.00      0.02      0.03        63
           8       0.00      0.00      0.00         5

    accuracy                           0.42       480
   macro avg       0.28      0.16      0.12       480
weighted avg       0.42      0.42      0.30       480

### for range of input

In [49]:
# df3['new']=df3.apply(lambda row: low if(row.df3['quality']<=5) medium elif (row.df3['quality']<=5 or row.df3['quality']<8) high else)

In [50]:
# df3['new']=df3['quality'].apply(lambda row: 'low' if(row.df3['quality']<=5)  else 'medium' if(row.df3['quality']==6)  else 'high')

In [51]:
df3['new']=df3['quality'].apply(lambda r: 'low' if(r<=5) else 'medium' if(r==6)  else 'high')

In [52]:
df3['new'].head(10)

0        low
1        low
2        low
3     medium
4        low
5        low
6        low
7       high
8       high
10       low
Name: new, dtype: object