In [1]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df=pd.read_csv('bank-full.csv',sep=';')
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
5,35,management,married,tertiary,no,231,yes,no,unknown,5,may,139,1,-1,0,unknown,no
6,28,management,single,tertiary,no,447,yes,yes,unknown,5,may,217,1,-1,0,unknown,no
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,unknown,5,may,380,1,-1,0,unknown,no
8,58,retired,married,primary,no,121,yes,no,unknown,5,may,50,1,-1,0,unknown,no
9,43,technician,single,secondary,no,593,yes,no,unknown,5,may,55,1,-1,0,unknown,no
10,41,admin.,divorced,secondary,no,270,yes,no,unknown,5,may,222,1,-1,0,unknown,no
11,29,admin.,single,secondary,no,390,yes,no,unknown,5,may,137,1,-1,0,unknown,no
12,53,technician,married,secondary,no,6,yes,no,unknown,5,may,517,1,-1,0,unknown,no
13,58,technician,married,unknown,no,71,yes,no,unknown,5,may,71,1,-1,0,unknown,no
14,57,services,married,secondary,no,162,yes,no,unknown,5,may,174,1,-1,0,unknown,no
15,51,retired,married,primary,no,229,yes,no,unknown,5,may,353,1,-1,0,unknown,no
16,45,admin.,single,unknown,no,13,yes,no,unknown,5,may,98,1,-1,0,unknown,no
17,57,blue-collar,married,primary,no,52,yes,no,unknown,5,may,38,1,-1,0,unknown,no
18,60,retired,married,primary,no,60,yes,no,unknown,5,may,219,1,-1,0,unknown,no
19,33,services,married,secondary,no,0,yes,no,unknown,5,may,54,1,-1,0,unknown,no
20,28,blue-collar,married,secondary,no,723,yes,yes,unknown,5,may,262,1,-1,0,unknown,no
21,56,management,married,tertiary,no,779,yes,no,unknown,5,may,164,1,-1,0,unknown,no
22,32,blue-collar,single,primary,no,23,yes,yes,unknown,5,may,160,1,-1,0,unknown,no
23,25,services,married,secondary,no,50,yes,no,unknown,5,may,342,1,-1,0,unknown,no
24,40,retired,married,primary,no,0,yes,yes,unknown,5,may,181,1,-1,0,unknown,no
25,44,admin.,married,secondary,no,-372,yes,no,unknown,5,may,172,1,-1,0,unknown,no
26,39,management,single,tertiary,no,255,yes,no,unknown,5,may,296,1,-1,0,unknown,no
27,52,entrepreneur,married,secondary,no,113,yes,yes,unknown,5,may,127,1,-1,0,unknown,no
28,46,management,single,secondary,no,-246,yes,no,unknown,5,may,255,2,-1,0,unknown,no
29,36,technician,single,secondary,no,265,yes,yes,unknown,5,may,348,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45181,46,blue-collar,married,secondary,no,6879,no,no,cellular,15,nov,74,2,118,3,failure,no
45182,34,technician,married,secondary,no,133,no,no,cellular,15,nov,401,2,187,5,success,yes
45183,70,retired,married,primary,no,324,no,no,cellular,15,nov,78,1,96,7,success,no
45184,63,retired,married,secondary,no,1495,no,no,cellular,16,nov,138,1,22,5,success,no
45185,60,services,married,tertiary,no,4256,yes,no,cellular,16,nov,200,1,92,4,success,yes
45186,59,unknown,married,unknown,no,1500,no,no,cellular,16,nov,280,1,104,2,failure,no
45187,32,services,single,secondary,no,1168,yes,no,cellular,16,nov,411,1,-1,0,unknown,yes
45188,29,management,single,secondary,no,703,yes,no,cellular,16,nov,236,1,550,2,success,yes
45189,25,services,single,secondary,no,199,no,no,cellular,16,nov,173,1,92,5,failure,no
45190,32,blue-collar,married,secondary,no,136,no,no,cellular,16,nov,206,1,188,3,success,yes
45191,75,retired,divorced,tertiary,no,3810,yes,no,cellular,16,nov,262,1,183,1,failure,yes
45192,29,management,single,tertiary,no,765,no,no,cellular,16,nov,238,1,-1,0,unknown,yes
45193,28,self-employed,single,tertiary,no,159,no,no,cellular,16,nov,449,2,33,4,success,yes
45194,59,management,married,tertiary,no,138,yes,yes,cellular,16,nov,162,2,187,5,failure,no
45195,68,retired,married,secondary,no,1146,no,no,cellular,16,nov,212,1,187,6,success,yes
45196,25,student,single,secondary,no,358,no,no,cellular,16,nov,330,1,-1,0,unknown,yes
45197,36,management,single,secondary,no,1511,yes,no,cellular,16,nov,270,1,-1,0,unknown,yes
45198,37,management,married,tertiary,no,1428,no,no,cellular,16,nov,333,2,-1,0,unknown,no
45199,34,blue-collar,single,secondary,no,1475,yes,no,cellular,16,nov,1166,3,530,12,other,no
45200,38,technician,married,secondary,no,557,yes,no,cellular,16,nov,1556,4,-1,0,unknown,yes
45201,53,management,married,tertiary,no,583,no,no,cellular,17,nov,226,1,184,4,success,yes
45202,34,admin.,single,secondary,no,557,no,no,cellular,17,nov,224,1,-1,0,unknown,yes
45203,23,student,single,tertiary,no,113,no,no,cellular,17,nov,266,1,-1,0,unknown,yes
45204,73,retired,married,secondary,no,2850,no,no,cellular,17,nov,300,1,40,8,failure,yes
45205,25,technician,single,secondary,no,505,no,yes,cellular,17,nov,386,2,-1,0,unknown,yes
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [3]:
df.drop('duration',axis=1,inplace=True)

In [4]:
df.drop('contact',axis=1,inplace=True)

In [5]:
df1=pd.get_dummies(df,drop_first=True)

In [6]:
df1.columns

Index(['age', 'balance', 'day', 'campaign', 'pdays', 'previous',
       'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'job_unknown',
       'marital_married', 'marital_single', 'education_secondary',
       'education_tertiary', 'education_unknown', 'default_yes', 'housing_yes',
       'loan_yes', 'month_aug', 'month_dec', 'month_feb', 'month_jan',
       'month_jul', 'month_jun', 'month_mar', 'month_may', 'month_nov',
       'month_oct', 'month_sep', 'poutcome_other', 'poutcome_success',
       'poutcome_unknown', 'y_yes'],
      dtype='object')

In [7]:
X=df1.drop('y_yes',axis=1)
y=df1['y_yes']

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=101)

In [10]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [11]:
X_train

,age,balance,day,campaign,pdays,previous,job_blue-collar,job_entrepreneur,job_housemaid,job_management,...,month_jul,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_other,poutcome_success,poutcome_unknown
3734,26,102,16,1,-1,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
28119,43,182,28,1,-1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
36942,37,807,12,3,172,4,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4710,32,80,20,2,-1,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
26402,33,0,20,1,-1,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
4822,38,-530,21,1,-1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
4544,33,-53,20,1,-1,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
15606,38,2357,21,1,-1,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,1
42784,64,3951,28,1,91,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
30301,39,1846,5,5,-1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
38423,26,2138,15,8,371,1,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
43103,80,0,23,1,189,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
30348,59,201,5,1,8,7,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
27818,33,4012,28,1,265,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5254,37,453,23,1,-1,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
20038,33,571,8,2,-1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
40328,21,243,17,2,-1,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,1
26861,35,3831,20,2,-1,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
36099,36,269,11,2,-1,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,1
12021,36,449,20,3,-1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
26994,35,3552,21,1,-1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
14791,37,8,16,1,-1,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1
24610,34,1049,17,2,129,1,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
5706,37,435,26,1,-1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
8543,43,2589,3,3,-1,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,1
38396,39,680,15,1,361,2,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
37562,28,20,14,5,370,4,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
32017,39,554,14,1,-1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
24981,40,701,18,1,-1,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
26733,45,1273,20,2,162,3,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31616,54,4736,6,6,307,5,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8535,27,3110,3,2,-1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
20191,54,500,11,4,-1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
15436,44,236,18,3,-1,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,1
44938,47,3232,6,1,204,3,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
38526,56,-458,15,4,296,3,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
17657,46,529,29,2,-1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
28488,58,1298,29,2,245,4,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9772,54,215,9,2,-1,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,1
18491,55,3546,31,2,-1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
19315,30,1119,6,7,-1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
34717,36,0,5,1,-1,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
26106,49,0,19,2,-1,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,1
12911,26,383,7,2,-1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
32817,36,-487,17,1,-1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
20957,34,903,14,2,-1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19566,42,441,7,9,-1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
13020,25,495,7,3,-1,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,1
6460,25,26,27,2,-1,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
35391,50,339,7,3,-1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
22148,34,0,21,2,-1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
22056,34,10890,20,14,-1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
17357,34,97,28,6,-1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
32137,31,1131,15,1,148,6,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20463,58,1463,12,3,-1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
12363,53,931,27,2,-1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
5695,50,1651,26,2,-1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
8006,33,-244,2,2,-1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
17745,52,-299,29,2,-1,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,1
17931,43,54,30,2,-1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1